services:
  honk:
    container_name: honk
    build:
      context: .
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    user: root
    network_mode: host
    volumes:
      - ./:/app
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8080:8080/tcp"
    cap_add:
      - NET_BIND_SERVICE
      - NET_RAW
